.header {
    padding: 41px 20px 41px 0px;
    background-color: #1B1C37;
    &__nav {
        align-items: center;
        margin: 0;
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    // &__item {

    // }
    &__link {
        text-decoration: none;
        display: flex;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        color: #EDEEFF;
    }
}
